<div class="col-12 col-md-12 col-sm-12 Row">
  
  <label for="labelRound">Combined Score: </label>&nbsp;&nbsp;<label for="labelRound">{{avgScore | number:'1.1-2'}}</label><br/>

  <label for="labelRound">01: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[0]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">02: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[1]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">03: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[2]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">05: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[3]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">08: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[4]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">13: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[5]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">21: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[6]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">34: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[7]*10"  style="border:1px solid"></canvas><br/>
  <label for="labelRound">55: </label>&nbsp;&nbsp;<canvas height="20px;" [width]="Scores[8]*10"  style="border:1px solid"></canvas><br/>

</div>

